<h2 class="text-center">CONSUMO DE API (API - REST)</h2>
<div *ngIf="!info">
  Esperando informacion...
</div>
<p *ngIf="info">
  Informacion recibida!
</p>
<table class="text-center" *ngIf="info" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Avatar</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datas of data">
      <td>{{ datas.id }}</td>
      <td><img src="{{ datas.avatar }}"></td>
      <td>{{ datas.email }}</td>
      <td>{{ datas.first_name }}</td>
      <td>{{ datas.last_name }}</td>
    </tr>
  </tbody>
</table>

