<h2 class="text-center">CONSUMO DE API (API - REST)</h2>
<p class="text-center">
  <a class="link wipe" [routerLink]="['/']">VOLVER</a>
</p>
<p class="text-center">
  <a class="link wipe" [routerLink]="['/apirest']">GET</a>
  <a class="link wipe" [routerLink]="['/apirest/post']">POST</a>
  <a class="link underline">PUT</a>
  <a class="link wipe" [routerLink]="['/apirest/patch']">PATCH</a>
  <a class="link wipe" [routerLink]="['/apirest/delete']">DELETE</a> </p>
<div *ngIf="!info">
  Esperando informacion...
</div>
<p *ngIf="info">
  Informacion recibida!
</p>
<a class="link opacity" (click)="putData()">Reenviar</a>
<p>Lo que estamos enviando:</p>
<code>
  ID: {{ id }}
  {{ dataToSend | json }}
</code>
<p>Lo que recibimos (Ver fecha de modificacion)</p>

<code>
  {{ data | json }}
</code>